.panel {
  width: 100%;
  background: linear-gradient(to top, #294531, #637d6b);
  overflow: hidden;

  border-width: 5px;
  border-style: ridge;
  position: relative;
}

.left {
  height: 200px;
  width: 100%;
  background-color: white;
  border-top-left-radius: 100px 150px;
  border-bottom-left-radius: 100px 150px;
  margin-left: 540px;
  margin-right: 0;
  margin-top: -10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
}

.btn-pannel {
  border: 2px solid red;
  margin-left: 0;
  margin-top: 0;
  z-index: 10;

}

.btn-primary {
  height: 20px;
  background-color: inherit;
  border-color: #294531;
  border-width: 2px;
  border-style: outset;
  border-radius: 0;
  font-size: 50%;
}
.btn-primary:active {
  background-color: inherit;
}
.btn-primary:hover {
  background-color: inherit;
}
.btn-primary:focus{
  background-color: inherit;
}

.row {
  margin: 0;
}

.col {
  padding: 2px;
}

.container {
  margin: 0;
}

.overview-videogramm {
  background-color: blue;
  height: 100%;
}

.first-alarm {
  height: 50px;
  border: 2px solid green;
}

.alarms {
  padding-left: 30px;
}
